<div class="container1">  
        <form id="contact" action="" method="post">
          <h3>Add Your Project!</h3>
          <h4>Please Fill Out The Following</h4>
          <fieldset>
            <input placeholder="Title" type="email" tabindex="2" id="title" required>
          </fieldset>
          <fieldset>
            <label for="languages"><h4>Choose primary user side language:</h4></label>
            <select name="languages" id="language" >
              <option value="2">HTML</option>
              <option value="1">CSS</option>
              <option value="3">JavaScript</option>
              <option value="4">Python 3</option>
            </select>
            <label for="categories"><h4>Category for this technology:</h4></label>
            <select name="categories" id="category" >
              <option value="1">Web Animation</option>
              <option value="2">Web Scraping</option>
              <option value="3">Front End Frameworks</option>
              <option value="4">Full Stack Frameworks</option>
              <option value="5">Website Deployment</option>
              <option value="6">Source Control</option>
            </select>
          </fieldset>
          <fieldset>
            <input placeholder=" Link to documentation (Your Web Site starts with http://)" type="url" tabindex="4" id="source" required>
          </fieldset>
          <fieldset>
            <textarea placeholder="Description" tabindex="5" id="desc" required></textarea>
          </fieldset>
          <fieldset>
            <textarea placeholder="Example(Optional if none enter N/A)" tabindex="5" id="project" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
      </div>
<script src="/js/addnewtech.js"></script>





