
{{!-- <div class="w3-content">
  <div class="w3-row"> --}}
    <div class="all-cards">
      {{#each categories as |category|}}
        <div class="container">
          <div class="card">
            <div class="contentBx">
              <h2>{{category.category_name}}</h2>
              <a href="/category/{{category.id}}">let's go!</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
      {{!-- </div>
    </div> --}}


