    <div class="container">  
        <form id="contact" action="" method="post">
          <h3>Add Your Project!</h3>
          <h4>Please Fill Out The Following</h4>
          <fieldset>
              <label for="email"> Enter new email:</label>
            <input name="email" placeholder="title" type="text" tabindex="2" id="title" required>
          </fieldset>
             <fieldset>
              <label for="password"> Enter new password: </label>
            <input name="password" placeholder="title" type="text" tabindex="2" id="title" required>
          </fieldset>
    
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
      </div>

 <script src="/js/editprofile.js"></script>