    <div class="container">  
        <form id="contact" action="" method="post">
          <h3>Add Your Project!</h3>
          <h4>Please Fill Out The Following</h4>
          <fieldset>
            <input placeholder="User" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="title" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="most used language (javascript, css, etc)" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder=" link you application (Your Web Site starts with http://)" type="url" tabindex="4" required>
          </fieldset>
          <fieldset>
            <textarea placeholder="Description" tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <textarea placeholder="user case" tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
      </div>