
{{!-- <div class="w3-content">
  <div class="w3-row"> --}}
    <div class="all-cards">
      {{#each categories as |category|}}
        <div class="container">
          <div class="card">

            <div class="contentBx">
              <h2>{{catName}}</h2>
              <div class="size">
                <h3>{{description}}</h3>
              </div>
              <a href="#">let's go!</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
      {{!-- </div>
    </div> --}}
